////
///
/// Tag placeholders
///
/// @group tag
/// @author Clint Kolodziej
///
////

@import "../defaults/tag";

//
// Tag default
//

%tag {
	display: inline-block;
	overflow: visible;
	padding: $tag-padding;

	background-color: $tag-background-color;
	border-radius: $tag-border-radius;

	color: $tag-color;
	text-decoration: none;

	&:empty {
		display: none;
	}
}

///
/// Tag with primary coloring
///

%tag-primary {
	background-color: $tag-primary-background-color;
    color: $tag-primary-color;
}

///
/// Tag with positive coloring
///

%tag-positive {
	background-color: $tag-positive-background-color;
    color: $tag-positive-color;
}

///
/// Tag with warning coloring
///

%tag-warning {
	background-color: $tag-warning-background-color;
    color: $tag-warning-color;
}

///
/// Tag with negative coloring
///

%tag-negative {
	background-color: $tag-negative-background-color;
    color: $tag-negative-color;
}
