/*
=========================================
flamebug:RadioButtonList
=========================================
*/

.fb-radiobuttonlist {
	margin: 0;
	padding: 0;
}

.fb-radiobuttonlist li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}