////
///
/// Label default variables
///
/// @group elements
/// @author Clint Kolodziej
///
////

$label-padding: 0 .75em !default;
$label-background-color: #999 !default;
$label-color: #fff !default;
$label-border-radius: .3em !default;

$label-primary-background-color: #2a75d1 !default;
$label-primary-color: #fff !default;

$label-positive-background-color: #0eb249 !default;
$label-positive-color: #fff !default;

$label-warning-background-color: #fb0 !default;
$label-warning-color: #fff !default;

$label-negative-background-color: #b44 !default;
$label-negative-color: #fff !default;