/*
Template Layout
*/

@import "../global.scss";
@import "../library/helper.scss";

//
// Resets
//

body,
#content,
#footer,
#nav,
#nav ul,
#nav ui li {
	margin: 0;
	padding: 0;
	text-align: left;
	clear: both;
}

//
// Body
//

body {
	background-color: #fff;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: center top;
	@include background-size(auto);
	@include background-origin(padding-box);
	@include background-clip(border-box);
}

//
// Content
//

#content {
	@include clear-children();
}

//
// Footer
//

#footer {
	padding: $line-height * 1em 0;
	background-color: rgba(0,0,0,0.03);
	text-align: center;
	@include clear-children();

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 48px;
		margin: 0 1em;
		text-align: center;

		img {
			opacity: 0.1;
		}
	}
}

//
// Logo
//

#logo {
	float: left;
	padding: .5em 1.25em;
	line-height: 3em;
	vertical-align: middle;

	&:hover {
		background: rgba(0,0,0,0.03);
	}

	img {
		display: block;
		height: 2em;
		opacity: .8;
	}
}

//
// Navigation
//

#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	box-shadow: 0 1px 10px rgba(0,0,0,0.03);
	z-index: 999;

	@include clear-children();
	@include transition(all, 0.25s);

	&:hover {
		box-shadow: 0 1px 12px rgba(0,0,0,0.07);
	}

	ul {
		list-style: none;
		display: none;
		clear: both;

		&.open {
			display: block;
		}
	}

	li {
		position: relative;
		border-top: 1px solid rgba(0,0,0,0.03);

		&:hover {
			background: rgba(0,0,0,0.03);
		}

		//
		// Links
		//

		a {
			position: relative;
			display: block;
			height: 3em;
			padding: 0 1.5em;
			line-height: 3em;
			color: #899;

			//
			// Nested Indicators
			//

			&:after {
				position: absolute;
				top: 100%;
				left: 50%;
				display: block;
				width: 0;
				height: 0;
				margin-left: -8px;
				margin-top: -16px;
				height: 0;
				border: 8px solid transparent;
				border-bottom-color: rgba(0,0,0,0.075);
				content: "";
			}

			&:only-child:after {
				border: 0;
			}
		}

		//
		// Nested Navigation
		//

		ul {
			display: none;
		}

		li {
			display: block;
			white-space:nowrap;
		}

		&:hover {
			> ul {
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				background-color: #fff;
				width: 10em;
				margin-left: -5em;
				box-shadow: 0 6px 12px rgba(0,0,0,0.07);
			}

			> a:after {
				border-bottom-color: #fff;
			}
		}
	}
}

//
// Navigation Button
//

#nav-button {
	float: right;
	width: 2em;
	padding: .5em 0;
	border: 0;
	box-shadow: none;
	background: transparent;
	font-size: 1.5em;
	color: #899;
	text-align: center;

	&:hover {
		background: rgba(0,0,0,0.03);
	}

	i {
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 1em;
		line-height: 1;
		font-style: normal;
		@include transition(all, 0.1s);
	}

	i.open {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

//
// Breakpoints
//

/* 12 column layout and greater */
@media screen and (min-width: 60rem) {

	#nav-button {
		display: none;
	}

	#nav {
		ul {
			display: block;
			clear: none;
		}

		li {
			display: inline-block;
			border: 0;
		}
	}
}