/*
base/typography.scss
*/

@import "../global.scss";
@import "../library/grid.scss";
@import "../library/helper.scss";
@import "../library/button.scss";

html {
	font-size: $base-font-size * 1%;
}

body {
	font-size: $body-font-size * 1em;
	line-height: $line-height;
	text-rendering: $body-text-rendering;
	-webkit-font-smoothing: $body-font-smoothing;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $body-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	color: $header-font-color;
}

h1 {
	@include font-size($h1-font-size);
}

h2 {
	@include font-size($h2-font-size);
}

h3 {
	@include font-size($h3-font-size);
}

h4 {
	@include font-size($h4-font-size);
}

h5 {
	@include font-size($h5-font-size);
}

h6 {
	@include font-size($h6-font-size);
}

p {
	@include font-size($body-font-size);
}

//
// Link styles
//

a {
	color: $link-color;
	text-decoration: none;
	@include transition(all, 0.25s, linear);

	&:hover {
		color: $link-hover-color;
	}
}

//
// Lists
//

ul,
ol,
dl {
	@include font-size($body-font-size);
}

dt {
	font-weight: bold;
}

dd + dt {
	@include font-margin-top($body-font-size);
}

//
// Quotes and Code
//

blockquote {
	@include font-margin-top($body-font-size);
	@include font-margin-bottom($body-font-size);
	padding-left: 1em;
	border-left: .25em solid $border-color;
}

pre,
code,
kbd,
samp,
tt {
	font-size: $mono-font-size * 1em;
	font-family: $mono-font-family;
	font-weight: $mono-font-weight;
	color: $mono-font-color;

	direction: ltr;
	text-align: left;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	// fix wierd bug with monospace text messing up line-height on pre elements
	// ref: http://alexmansfield.com/css/font-size-line-height-pre-code-monospace
	// if font size is less than 1 then go with vertical-align: middle
	vertical-align: top; 
}

pre {
	white-space: pre;
	@include font-margin-top($mono-font-size, 1 / ($body-font-size * 16));
	@include font-margin-bottom($mono-font-size, 1 / ($body-font-size * 16));
	@include font-line-height($mono-font-size);

	position: relative;
	background: rgba(0,0,0,0.01);
	border: 1px solid $border-color;
	padding: 0 .5em;
	overflow: auto;

	code {
		padding: 0;
		border: 0;
		background: transparent;
	}

	&[rel]:hover:before {
		content: attr(rel);
		position: absolute;
		top: 0;
		right: 0;
		padding: .25em .75em;
		background: rgba(0,0,0,0.02);
		color: #aaa;
		font-size: .75em;
	}
}

code {
	padding: .1666em .3333em;
	background: rgba(0,0,0,0.01);
	border: 1px solid $border-color;
}

//
// Image and Dividers
//

img {
	max-width: 100%;
}

img,
hr {
	border-color: $border-color;
}

//
// Tables
//

table {
	max-width: 100%;
	width: 100%;
	margin-top: $line-height * 1em;
	margin-bottom: $line-height * 1em;
	border-collapse: separate;
	*border-collapse: collapse;

	th,
	td {
		padding: 0 $line-height * 0.5em;
		line-height: (($body-line-height-px - 1) / $body-line-height-px) * $line-height;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid $border-color;
	}

	th {
		font-weight: bold;
		vertical-align: bottom;
	}

	caption + thead tr:first-child th,
	caption + thead tr:first-child td,
	colgroup + thead tr:first-child th,
	colgroup + thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
		line-height: $line-height;
		border-top: 0;
	}

	tbody + tbody {
		border-top: 2px solid $border-color;
	}

	table {
		background-color: #ffffff;
	}
}

//
// Forms
//

form {
	margin-bottom: $line-height * 1em;
	@include clear-children();
}

fieldset {
	margin: $line-height * 1em - (1 / ($body-font-size * 16) * 1em) 0;
	padding: 0 $line-height * 1em;
	border-color: $border-color;
}

//
// Text Inputs
//

textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	font: inherit;
	padding: 0 .375em;
	margin: -1px 0;
	border: 1px solid $border-color;
	background-color: #fff;
	color: $input-color;
	border-radius: .2em;
	@include box-sizing(border-box);

	&:focus {
		color: $input-focus-color;
	}
}

input:invalid,
textarea:invalid {
	border-color: red;
}

select {
	//unlike other form inputs a select doesn't use line-height, we need to add padding to get it there
	padding: (2 / ($body-font-size * 16) * 1em) 0 (1 / ($body-font-size * 16) * 1em) .375em;
}

//
// Buttons
//

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@include button;
}