////
///
/// Badge default variables
///
/// @group elements
/// @author Clint Kolodziej
///
////

$badge-padding: 0 .5em !default;
$badge-background-color: #b44 !default;
$badge-color: #FFF !default;
$badge-border: 2px solid #fff !default;
$badge-box-shadow: 0 0 0 1px rgba(0,0,0,0.05) !default;
$badge-border-radius: 1em !default;
$badge-text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !default;
$badge-font-size: .75em !default;
$badge-offset: -12px !default;