////
///
/// Table default variables
///
/// @group elements
/// @author Clint Kolodziej
///
////

$table-padded-padding-horizontal: 0.5em !default;
$table-padded-padding-vertical: 0.5em !default;

$table-striped-background-color: rgba(0,0,0,0.01) !default;